# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/

.ipynb_checkpoints/
.vscode/
.cpp
.DS_Store
# java
.idea

# files
SystemDesign.pdf
Mastering+the+Coding+Interview.pdf
leetcode plan.xlsx

# folder
2022-7-interview_prepare/Cisco/exams_from_web/
